
.root {
    padding-top: 16px;
    text-align: center;
}

%button {
    margin: 12px;
}
.button {
    @extend %button;
}
.buttonColorOverrides {
    @extend %button;
    color: yellow;
    background-color: teal;
}

section {
    margin: 16px 8px 8px 8px;
}