
.root {    
    background-color: purple;

    &:hover {
        background-color: #1a55c4;
    }
}
.label {
    color: gray;
    width: 80%; // checking to see if this will override Mui style rule
    transition: all .3s ease;
    // This is one way to accomplish this.  See below (under 
    //  the ".contained") for another way.
    .contained & {
        color: rgb(216, 17, 17);
    }

    .root:hover & {
        color: rgb(240, 122, 224);
    }
}

.contained {
    background-color: yellow;

    // This way works too (see above for another way to style the 
    // label when the button is a "contained" button).
    // & > .label {
    //     color: #3399ff;
    // }
}